body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family:"Plus Jakarta Sans";
  overflow-x: hidden;
}


@media (max-width: 600px ) {

  section{
    width: 100%;
  }
  
}