
.case-studies{
  margin-top: 80px;
  margin-bottom: 30px;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.casehead{
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
  color: rgb(48, 46, 46);
  text-align: center;
}

.casedesc{
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 300;
  width: 340px;
  line-height: 24px;
  color: rgb(148, 148, 148);
  margin: 0;
  text-align: center;
}



.case-studies-card{
  width: 1110px;
  height: 430px;
  padding: 0px 15px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.case-row1, .case-row2{
  display: flex;
  width: 100%;
  height: 135px;
  margin-bottom: 70px;
}

.case0, .case1, .case3, .case4{
  display: flex;
  width: 310px;
  height: 135px;
  margin-right: 50px;
  overflow: hidden;
  padding: 15px 10px 15px 10px;
  border-style: solid;
  border-width: 1px;
  transition: 0.2s;
  border-color: rgba(206, 206, 206, 0.3);
}

.case2, .case5{
  display: flex;
  width: 310px;
  height: 135px;
  padding: 15px 10px 15px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(206, 206, 206, 0.3);
  transition: 0.2s;
}

.case0:hover, .case1:hover, .case4:hover, .case3:hover{
  display: flex;
  width: 310px;
  height: 135px;
  margin-right: 50px;
  overflow: hidden;
  padding: 15px 10px 15px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(206, 206, 206, 0.2);
  box-shadow: 0 5px 15px  rgba(209, 209, 209, 0.3);
  transform: scale(1.006) ;
  cursor: pointer;
}

.case2:hover, .case5:hover{
  display: flex;
  width: 310px;
  height: 135px;
   padding: 15px 10px 15px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(206, 206, 206, 0.3);
  box-shadow: 0 5px 15px  rgba(209, 209, 209, 0.2);
  transform: scale(1.006);
  cursor: pointer;
 
}

.case0imagebox, .case1imagebox, .case2imagebox, .case3imagebox, .case4imagebox, .case5imagebox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(206, 206, 206, 0.5);
  margin-right: 15px;
}

.case0texthead, .case1texthead, .case2texthead, .case3texthead, .case4texthead, .case5texthead{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.1px;
  color: rgb(48, 46, 46);
}

.case0textdesc, .case1textdesc, .case2textdesc, .case3textdesc, .case4textdesc, .case5textdesc{
  font-size: 14px;
  width: 210px;
  line-height: 24px;
  text-align: left;
  color: rgb(104, 99, 99);
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 15px;
}

.readcase{
  font-weight: 700;
  font-size: 14px;
  color: rgb(180, 72, 89);
  transition: 0.6s;
  position: relative;
  width: fit-content;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

.readcase:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: rgb(180, 72, 89);
  transition: width 0.25s ease-out;
}

.readcase:hover::before{
  width: 100%;
}